*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    display: inline-block;
    font-weight: 500;
    color: #666;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background: #fff;
    border: thin solid #f9f9f9;
    white-space: nowrap;
    padding: 3px 10px;
    font-size: 14px;
    line-height: 20px;
    user-select: none;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 0 10px 0 0;
}

button:hover,
button:focus,
button:active {
    background: #f9f9f9;
    outline: none;
    color: #333;
}

a {
    color: #428bca;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #5ba1ca;
    text-decoration: underline;
}

a:focus {
    outline: none;
}

/* @media #{$S-only} { } */
@media only screen and (min-width: 321px) and (max-width: 640px) {
    .panel {
        width: 100%;
    }
    .terminal {
        width: 100%;
    }
    .dojocat {
        width: 500px;
        height: 500px;
    }
}

/* @media #{$M-only} { } */
@media only screen and (min-width: 641px) and (max-width: 1024px) {
    .panel {
        width: 80%;
    }
    .terminal {
        width: 80%;
    }
    .dojocat {
        width: 600px;
        height: 600px;
    }
}

/* @media #{$L-n-above} { } */
@media only screen and (min-width: 1025px) {
    .panel {
        width: 50%;
    }
    .terminal {
        width: 50%;
    }
    .dojocat {
        width: 700px;
        height: 700px;
    }
}

.panel {
    background-color: #fff;
    margin: 20px auto 60px auto;
    padding: 15px;
    text-align: center;
    border-bottom: thin solid #ddd;
    font-size: 24px;
    font-weight: bold;
    color: #555555;
}

.dojocat {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.3;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-origin: content-box;
    background-image: url('/images/dojocat.png');
}

.terminal {
    background-color: rgba(0, 0, 0, .6);
    margin: 20px auto 40px auto;
    padding: 0;
    border: thin solid #BABABA;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .4);
}

.terminal > .t-header {
    position: relative;
    background-color: #F6F4F4;
    margin: 0;
    padding: 5px;
    text-align: center;
    border-radius: 10px 10px 0 0;
    font-size: 18px;
    font-weight: bold;
    color: #494949;
}

.terminal > .t-body {
    margin: 0;
    padding: 5px;
    border: thin solid #4E4E4E;
    border-radius: 0 0 10px 10px;
    font-family: monospace;
    text-align: left;
    font-size: 16px;
    color: #ffffff;
    min-height: 400px;
}

.t-header > .window-controls {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100px;
    height: 34px;
    border: none;
    padding: 8px;
    clear: both;
    display: table;
    content: " ";
}

.window-controls > .close,
.window-controls > .minimize,
.window-controls > .maximize {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin: 0 10px 0 0;
    cursor: pointer;
}

.window-controls > .close {
    border: thin solid #D24E42;
    background-color: #ED6A5E;
}

.window-controls > .minimize {
    border: thin solid #D79F3D;
    background-color: #F5BE4F;
}

.window-controls > .maximize {
    border: thin solid #50A73C;
    background-color: #61C455;
}

@keyframes cursor-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.cursor {
    animation: cursor-animation 1s steps(2, jump-none) 0s infinite;
}

.t-link {
    color: #53B0FF;
    font-size: 18px;
}

.t-link-icon {
    display: inline-block;
    height: 18px;
}
